<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiBaseURL</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>ApiKey</key>
	<string>634b49e294bd1ff87914e7b9d014daed</string>
	<key>Theme</key>
	<string>Dark</string>
</dict>
</plist>
